In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\achintya\anaconda3\lib\site-packages (4.12.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\achintya\anaconda3\lib\site-packages (from selenium) (0.10.4)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\achintya\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\achintya\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\achintya\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: attrs>=20.1.0 in c:\users\achintya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\achintya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\achintya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\achintya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\achintya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\achintya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\achintya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\achintya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\achintya\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\achintya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\achintya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
#jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.shine.com/
#2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#3. Then click the searchbutton.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.shine.com/")

In [4]:
job_title=driver.find_element(By.CLASS_NAME,"form-control")
job_title.send_keys('Data Analyst')

In [5]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [6]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
#scraping job title
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [9]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [10]:

df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,,,,
1,Position for- Ruby on Rails Application Lead,Chennai,accenture,4 to 6 Yrs
2,SAP for Utilities Energy Data Management Devic...,Mumbai City,accenture,4 to 6 Yrs
3,apply now Application Developer,Chennai,accenture,4 to 6 Yrs
4,,,,
5,,,,
6,,,,
7,Opening for Technical Lead Dot Net Remote Loca...,Bangalore\n+2,talent max hr & mangagement consult...,6 to 11 Yrs
8,Urgent Opening UI/UX Designer in Delhi,Delhi,sharda it services,2 to 7 Yrs
9,Flutter Developer,Indore\n+1,talent max hr & mangagement consult...,4 to 8 Yrs

In [11]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.shine.com/
#2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [12]:
driver=webdriver.Chrome()

In [13]:
driver.get("https://www.shine.com/")

In [14]:
job_title=driver.find_element(By.CLASS_NAME,"form-control")
job_title.send_keys('Data Scientist')

In [15]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [19]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [20]:
#scraping job title
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [21]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [22]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist,Bangalore,the fashion cosmo,0 to 4 Yrs
1,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd,5 to 7 Yrs
2,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd,5 to 7 Yrs
3,Data Scientist Hiring Fresher and Experience,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
4,Data Scientist III,Bangalore,inmobi,7 to 9 Yrs
5,Data Scientist,Bangalore\n+6,quiscon biotech,0 to 1 Yr
6,"Senior Data Scientist, AWS",Bangalore,amazon,10 to 12 Yrs
7,Data Scientist Recruitment,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
8,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs
9,Hiring For Data Scientist,Bangalore\n+17,kavya staffing solutions,0 to 4 Yrs

In [35]:
#Q3: In this question you have to scrape data using the filters available on the webpage
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results.
#You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
#The task will be done as shown in the below steps:
#1. first get the web page https://www.shine.com/
#2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
#3. Then click the search button.
#4. Then apply the location filter and salary filter by checking the respective boxes
#5. Then scrape the data for the first 10 jobs results you get.
#6. Finally create a dataframe of the scraped data.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [36]:
driver=webdriver.Chrome()

In [37]:
driver.get("https://www.shine.com/")

In [38]:
job_title=driver.find_element(By.CLASS_NAME,"form-control")
job_title.send_keys('Data Scientist')

In [39]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [40]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [42]:
salary_checkbox = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
salary_checkbox.click()

In [43]:
show_result=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
show_result.click()

In [44]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [45]:
#scraping job title
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [46]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [47]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Scientist,Bangalore,the fashion cosmo,0 to 4 Yrs
1,Hire DATA SCIENTIST- MIS EXECUTIVE,Mumbai City,h k jewels private limited,4 to 6 Yrs
2,Need now for Data Scientist - MIS Executive,Mumbai City,h k jewels private limited,4 to 6 Yrs
3,need Data Scientist MIS Executive,Mumbai City,h k jewels private limited,4 to 6 Yrs
4,Urgently Required Data Scientist - MIS Executive,Mumbai City,h k jewels private limited,4 to 6 Yrs
5,Associate Divisional Manager Data Scientist Ch...,Chennai,talent leads hr solutions pvt ltd,7 to 12 Yrs
6,SR. DATA SCIENTIST,Bangalore,te connectivity india pvt ltd,5 to 7 Yrs
7,Senior Data Scientist- ML Engineer,Bangalore,sap india pvt ltd,5 to 7 Yrs
8,Data Scientist Hiring Fresher and Experience,Singapore\n+16,kavya staffing solutions,0 to 4 Yrs
9,Data Scientist Hiring Fresher and Experience,Canada\n+17,kavya staffing solutions,0 to 4 Yrs

In [1]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#6. Brand
#7. Product Description
#8. Price
#The attributes which you have to scrape is ticked marked in the below image
#To scrape the data you have to go through following steps:
#1. Go to Flipkart webpage by url : https://www.flipkart.com/
#2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
#3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome()

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('Sunglasses')

In [5]:
search_icon=driver.find_element(By.CLASS_NAME,"_2iLD__")
search_icon.click()

In [6]:
sunglasses_brand= []
sunglasses_description= []
sunglasses_price= []
sunglasses_discount=[]

In [19]:
start=0
end=3
for pages in range(start,end):
    #scraping brand name
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:100]:
        brand=i.text
        sunglasses_brand.append(brand)

In [20]:
start=0
end=3
for pages in range(start,end):
    #scraping product description
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags[0:100]:
        description=i.text
        sunglasses_description.append(description)

In [21]:
start=0
end=3
for pages in range(start,end):
    #scraping product price
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:100]:
        price=i.text
        sunglasses_price.append(price)

In [22]:
start=0
end=3
for pages in range(start,end):
    #scraping product discounted price
    discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
    for i in discount_tags[0:100]:
        discount=i.text
        sunglasses_discount.append(discount)

In [25]:
for i in range(100):
    print(f"Brand: {sunglasses_brand[i]},Description: {sunglasses_description[i]},Price: {sunglasses_price[i]},Discount: {sunglasses_discount[i]}")

Brand: ARICKS,Description: UV Protection, Toughened Glass Lens Retro Square Sungla...,Price: ₹381,Discount: ₹2,499
Brand: VINCENT CHASE,Description: UV Protection Wayfarer Sunglasses (59),Price: ₹549,Discount: ₹1,999
Brand: Elligator,Description: UV Protection Aviator, Wayfarer Sunglasses (54),Price: ₹156,Discount: ₹1,299
Brand: RBGIIT,Description: Night Vision, UV Protection, Polarized Wrap-around Sung...,Price: ₹229,Discount: ₹599
Brand: ROADWAY,Description: UV Protection Wayfarer, Sports, Spectacle , Retro Squar...,Price: ₹264,Discount: ₹1,299
Brand: Ray-Ban,Description: Polarized Wayfarer Sunglasses (51),Price: ₹7,494,Discount: ₹12,490
Brand: Shadehouse,Description: Mirrored, UV Protection Rectangular, Retro Square, Wayf...,Price: ₹599,Discount: ₹1,199
Brand: I Flash,Description: UV Protection, Mirrored Wayfarer Sunglasses (54),Price: ₹217,Discount: ₹2,499
Brand: Elligator,Description: by Lenskart Polarized, UV Protection Retro Square Sungl...,Price: ₹162,Discount: ₹999
Brand: VINCENT CHASE,Description: Polarized, UV Protection Round Sunglasses (50),Price: ₹849,Discount: ₹1,999
Brand: VINCENT CHASE,Description: UV Protection Retro Square Sunglasses (Free Size),Price: ₹849,Discount: ₹1,999
Brand: ROZZETTA CRAFT,Description: UV Protection Wayfarer Sunglasses (53),Price: ₹499,Discount: ₹2,225
Brand: Elligator,Description: Gradient, UV Protection Wayfarer Sunglasses (Free Size),Price: ₹149,Discount: ₹1,299
Brand: ATOUCH,Description: by Lenskart Polarized, UV Protection Rectangular Sungla...,Price: ₹499,Discount: ₹2,499
Brand: Fastrack,Description: UV Protection Rectangular, Retro Square Sunglasses (58),Price: ₹549,Discount: ₹999
Brand: VINCENT CHASE,Description: Polarized, UV Protection Retro Square Sunglasses (55),Price: ₹849,Discount: ₹1,999
Brand: ROYAL SON,Description: UV Protection Aviator Sunglasses (58),Price: ₹499,Discount: ₹1,499
Brand: Eyewearlabs,Description: Polarized, UV Protection Aviator Sunglasses (60),Price: ₹1,599,Discount: ₹3,599
Brand: mistry,Description: UV Protection, Gradient Rectangular Sunglasses (Free Si...,Price: ₹299,Discount: ₹899
Brand: Fastrack,Description: Polarized, UV Protection, Riding Glasses Wayfarer Sungl...,Price: ₹849,Discount: ₹1,399
Brand: Eyewearlabs,Description: UV Protection Rectangular Sunglasses (Free Size),Price: ₹1,520,Discount: ₹3,599
Brand: ROZZETTA CRAFT,Description: UV Protection Retro Square Sunglasses (54),Price: ₹436,Discount: ₹1,999
Brand: DEIXELS,Description: UV Protection Wayfarer Sunglasses (Free Size),Price: ₹204,Discount: ₹599
Brand: New Specs,Description: UV Protection Round Sunglasses (Free Size),Price: ₹271,Discount: ₹2,599
Brand: Rich Club,Description: Polarized, UV Protection Wayfarer Sunglasses (54),Price: ₹473,Discount: ₹1,299
Brand: Fastrack,Description: UV Protection Round Sunglasses (53),Price: ₹549,Discount: ₹999
Brand: ROZZETTA CRAFT,Description: Polarized, UV Protection Round Sunglasses (51),Price: ₹449,Discount: ₹1,999
Brand: Eyewearlabs,Description: UV Protection, Gradient Rectangular Sunglasses (Free Si...,Price: ₹1,404,Discount: ₹3,599
Brand: KOPEK,Description: UV Protection Retro Square Sunglasses (Free Size),Price: ₹474,Discount: ₹999
Brand: Elligator,Description: UV Protection Retro Square Sunglasses (56),Price: ₹159,Discount: ₹998
Brand: VINCENT CHASE,Description: Polarized, UV Protection Over-sized Sunglasses (56),Price: ₹949,Discount: ₹1,999
Brand: ROZZETTA CRAFT,Description: Polarized, UV Protection Retro Square Sunglasses (50),Price: ₹335,Discount: ₹1,999
Brand: CLICKEDIN,Description: by Lenskart Polarized, UV Protection Round Sunglasses (...,Price: ₹199,Discount: ₹599
Brand: Ray-Ban,Description: UV Protection Round Sunglasses (50),Price: ₹4,403,Discount: ₹6,290
Brand: Natwar,Description: UV Protection Wrap-around Sunglasses (Free Size),Price: ₹617,Discount: ₹999
Brand: VINCENT CHASE,Description: UV Protection, Toughened Glass Lens Retro Square Sungla...,Price: ₹1,199,Discount: ₹1,999
Brand: VINCENT CHASE,Description: UV Protection Wayfarer Sunglasses (59),Price: ₹854,Discount: ₹1,999
Brand: VINCENT CHASE,Description: UV Protection Aviator, Wayfarer Sunglasses (54),Price: ₹849,Discount: ₹1,999
Brand: Rich Club,Description: Night Vision, UV Protection, Polarized Wrap-around Sung...,Price: ₹399,Discount: ₹999
Brand: ROZZETTA CRAFT,Description: UV Protection Wayfarer, Sports, Spectacle , Retro Squar...,Price: ₹490,Discount: ₹1,999
Brand: ARICKS,Description: Polarized Wayfarer Sunglasses (51),Price: ₹381,Discount: ₹2,499
Brand: VINCENT CHASE,Description: Mirrored, UV Protection Rectangular, Retro Square, Wayf...,Price: ₹549,Discount: ₹1,999
Brand: Elligator,Description: UV Protection, Mirrored Wayfarer Sunglasses (54),Price: ₹156,Discount: ₹1,299
Brand: RBGIIT,Description: by Lenskart Polarized, UV Protection Retro Square Sungl...,Price: ₹229,Discount: ₹599
Brand: ROADWAY,Description: Polarized, UV Protection Round Sunglasses (50),Price: ₹264,Discount: ₹1,299
Brand: Ray-Ban,Description: UV Protection Retro Square Sunglasses (Free Size),Price: ₹7,494,Discount: ₹12,490
Brand: Shadehouse,Description: UV Protection Wayfarer Sunglasses (53),Price: ₹599,Discount: ₹1,199
Brand: I Flash,Description: Gradient, UV Protection Wayfarer Sunglasses (Free Size),Price: ₹217,Discount: ₹2,499
Brand: Elligator,Description: by Lenskart Polarized, UV Protection Rectangular Sungla...,Price: ₹162,Discount: ₹999
Brand: VINCENT CHASE,Description: UV Protection Rectangular, Retro Square Sunglasses (58),Price: ₹849,Discount: ₹1,999
Brand: VINCENT CHASE,Description: Polarized, UV Protection Retro Square Sunglasses (55),Price: ₹849,Discount: ₹1,999
Brand: ROZZETTA CRAFT,Description: UV Protection Aviator Sunglasses (58),Price: ₹499,Discount: ₹2,225
Brand: Elligator,Description: Polarized, UV Protection Aviator Sunglasses (60),Price: ₹149,Discount: ₹1,299
Brand: ATOUCH,Description: UV Protection, Gradient Rectangular Sunglasses (Free Si...,Price: ₹499,Discount: ₹2,499
Brand: Fastrack,Description: Polarized, UV Protection, Riding Glasses Wayfarer Sungl...,Price: ₹549,Discount: ₹999
Brand: VINCENT CHASE,Description: UV Protection Rectangular Sunglasses (Free Size),Price: ₹849,Discount: ₹1,999
Brand: ROYAL SON,Description: UV Protection Retro Square Sunglasses (54),Price: ₹499,Discount: ₹1,499
Brand: Eyewearlabs,Description: UV Protection Wayfarer Sunglasses (Free Size),Price: ₹1,599,Discount: ₹3,599
Brand: mistry,Description: UV Protection Round Sunglasses (Free Size),Price: ₹299,Discount: ₹899
Brand: Fastrack,Description: Polarized, UV Protection Wayfarer Sunglasses (54),Price: ₹849,Discount: ₹1,399
Brand: Eyewearlabs,Description: UV Protection Round Sunglasses (53),Price: ₹1,520,Discount: ₹3,599
Brand: ROZZETTA CRAFT,Description: Polarized, UV Protection Round Sunglasses (51),Price: ₹436,Discount: ₹1,999
Brand: DEIXELS,Description: UV Protection, Gradient Rectangular Sunglasses (Free Si...,Price: ₹204,Discount: ₹599
Brand: New Specs,Description: UV Protection Retro Square Sunglasses (Free Size),Price: ₹271,Discount: ₹2,599
Brand: Rich Club,Description: UV Protection Retro Square Sunglasses (56),Price: ₹473,Discount: ₹1,299
Brand: Fastrack,Description: Polarized, UV Protection Over-sized Sunglasses (56),Price: ₹549,Discount: ₹999
Brand: ROZZETTA CRAFT,Description: Polarized, UV Protection Retro Square Sunglasses (50),Price: ₹449,Discount: ₹1,999
Brand: Eyewearlabs,Description: by Lenskart Polarized, UV Protection Round Sunglasses (...,Price: ₹1,404,Discount: ₹3,599
Brand: KOPEK,Description: UV Protection Round Sunglasses (50),Price: ₹474,Discount: ₹999
Brand: Elligator,Description: UV Protection Wrap-around Sunglasses (Free Size),Price: ₹159,Discount: ₹998
Brand: VINCENT CHASE,Description: UV Protection, Toughened Glass Lens Retro Square Sungla...,Price: ₹949,Discount: ₹1,999
Brand: ROZZETTA CRAFT,Description: UV Protection Wayfarer Sunglasses (59),Price: ₹335,Discount: ₹1,999
Brand: CLICKEDIN,Description: UV Protection Aviator, Wayfarer Sunglasses (54),Price: ₹199,Discount: ₹599
Brand: Ray-Ban,Description: Night Vision, UV Protection, Polarized Wrap-around Sung...,Price: ₹4,403,Discount: ₹6,290
Brand: Natwar,Description: UV Protection Wayfarer, Sports, Spectacle , Retro Squar...,Price: ₹617,Discount: ₹999
Brand: VINCENT CHASE,Description: Polarized Wayfarer Sunglasses (51),Price: ₹1,199,Discount: ₹1,999
Brand: VINCENT CHASE,Description: Mirrored, UV Protection Rectangular, Retro Square, Wayf...,Price: ₹854,Discount: ₹1,999
Brand: VINCENT CHASE,Description: UV Protection, Mirrored Wayfarer Sunglasses (54),Price: ₹849,Discount: ₹1,999
Brand: Rich Club,Description: by Lenskart Polarized, UV Protection Retro Square Sungl...,Price: ₹399,Discount: ₹999
Brand: ROZZETTA CRAFT,Description: Polarized, UV Protection Round Sunglasses (50),Price: ₹490,Discount: ₹1,999
Brand: ARICKS,Description: UV Protection Retro Square Sunglasses (Free Size),Price: ₹381,Discount: ₹2,499
Brand: VINCENT CHASE,Description: UV Protection Wayfarer Sunglasses (53),Price: ₹549,Discount: ₹1,999
Brand: Elligator,Description: Gradient, UV Protection Wayfarer Sunglasses (Free Size),Price: ₹156,Discount: ₹1,299
Brand: RBGIIT,Description: by Lenskart Polarized, UV Protection Rectangular Sungla...,Price: ₹229,Discount: ₹599
Brand: ROADWAY,Description: UV Protection Rectangular, Retro Square Sunglasses (58),Price: ₹264,Discount: ₹1,299
Brand: Ray-Ban,Description: Polarized, UV Protection Retro Square Sunglasses (55),Price: ₹7,494,Discount: ₹12,490
Brand: Shadehouse,Description: UV Protection Aviator Sunglasses (58),Price: ₹599,Discount: ₹1,199
Brand: I Flash,Description: Polarized, UV Protection Aviator Sunglasses (60),Price: ₹217,Discount: ₹2,499
Brand: Elligator,Description: UV Protection, Gradient Rectangular Sunglasses (Free Si...,Price: ₹162,Discount: ₹999
Brand: VINCENT CHASE,Description: Polarized, UV Protection, Riding Glasses Wayfarer Sungl...,Price: ₹849,Discount: ₹1,999
Brand: VINCENT CHASE,Description: UV Protection Rectangular Sunglasses (Free Size),Price: ₹849,Discount: ₹1,999
Brand: ROZZETTA CRAFT,Description: UV Protection Retro Square Sunglasses (54),Price: ₹499,Discount: ₹2,225
Brand: Elligator,Description: UV Protection Wayfarer Sunglasses (Free Size),Price: ₹149,Discount: ₹1,299
Brand: ATOUCH,Description: UV Protection Round Sunglasses (Free Size),Price: ₹499,Discount: ₹2,499
Brand: Fastrack,Description: Polarized, UV Protection Wayfarer Sunglasses (54),Price: ₹549,Discount: ₹999
Brand: VINCENT CHASE,Description: UV Protection Round Sunglasses (53),Price: ₹849,Discount: ₹1,999
Brand: ROYAL SON,Description: Polarized, UV Protection Round Sunglasses (51),Price: ₹499,Discount: ₹1,499
Brand: Eyewearlabs,Description: UV Protection, Gradient Rectangular Sunglasses (Free Si...,Price: ₹1,599,Discount: ₹3,599
Brand: mistry,Description: UV Protection Retro Square Sunglasses (Free Size),Price: ₹299,Discount: ₹899
Brand: Fastrack,Description: UV Protection Retro Square Sunglasses (56),Price: ₹849,Discount: ₹1,399

In [1]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
#As shown in the above page you have to scrape the tick marked attributes. These are:
#1. Rating2. Review summary 3. Full review  4. You have to scrape this data for first 100reviews
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [29]:
reviews = []

In [32]:
while len(reviews) < 100:
    # Find all review containers on the page using XPath
    review_containers = driver.find_elements(By.XPATH,'//div[@class="_27M-vq"]')

    for container in review_containers:
        # Extract rating, review summary, and full review using XPath
        rating = container.find_element(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]').text.strip()
        summary = container.find_element(By.XPATH,'//p[@class="_2-N8zT"]').text.strip()
        full_review = container.find_element(By.XPATH,'//div[@class="t-ZTKy"]').text.strip()

        # Append the extracted data to the reviews list
        reviews.append({
            'Rating': rating,
            'Review Summary': summary,
            'Full Review': full_review
        })

        # Break the loop if we have scraped 100 reviews
        if len(reviews) == 100:
            break

In [34]:
 # Scroll down to load more reviews
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

# Print the scraped reviews data
for i, review in enumerate(reviews):
    print(f"Review {i+1}:")
    print(f"Rating: {review['Rating']}")
    print(f"Review Summary: {review['Review Summary']}")
    print(f"Full Review: {review['Full Review']}")
    print()

# Close the browser
driver.quit()

Review 1:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 2:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 3:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 4:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 5:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 6:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 7:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 8:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 9:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 10:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 11:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 12:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 13:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 14:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 15:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 16:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 17:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 18:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 19:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 20:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 21:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 22:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 23:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 24:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 25:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 26:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 27:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 28:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 29:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 30:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 31:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 32:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 33:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 34:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 35:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 36:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 37:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 38:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 39:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 40:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 41:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 42:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 43:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 44:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 45:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 46:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 47:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 48:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 49:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 50:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 51:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 52:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 53:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 54:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 55:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 56:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 57:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 58:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 59:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 60:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 61:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 62:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 63:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 64:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 65:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 66:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 67:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 68:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 69:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 70:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 71:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 72:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 73:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 74:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 75:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 76:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 77:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 78:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 79:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 80:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 81:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 82:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 83:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 84:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 85:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 86:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 87:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 88:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 89:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 90:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 91:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 92:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 93:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 94:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 95:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 96:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 97:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 98:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 99:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

Review 100:
Rating: 5
Review Summary: Terrific
Full Review: Very very good

In [4]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
#You have to scrape 3 attributes of each sneaker:
#1. Brand  2. Product Description  3. Price . As shown in the below image, you have to scrape the above attributes.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [5]:
driver = webdriver.Chrome()

In [6]:
# Open Flipkart website and search for "sneakers"
driver.get("https://www.flipkart.com/")

In [7]:
search_box=driver.find_element(By.CLASS_NAME,"Pke_EE")
search_box.send_keys("sneakers")

In [8]:
search_button = driver.find_element(By.XPATH,"//button[@type='submit']")
search_button.click()

In [22]:
# Scrape data for the first 100 sneakers
sneakers_brand=[]
sneakers_description=[]
sneakers_price=[]

In [26]:
start=0
end=3
for pages in range(start,end):
    #scraping brand name
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:100]:
        brand=i.text
        sneakers_brand.append(brand)

In [27]:
start=0
end=3
for pages in range(start,end):
    #scraping product description
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags[0:100]:
        description=i.text
        sneakers_description.append(description)

In [28]:
start=0
end=3
for pages in range(start,end):
    #scraping product price
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:100]:
        price=i.text
        sneakers_price.append(price)

In [36]:
# Print the scraped sneakers data
for i in range(100):
    print(f"Brand: {sneakers_brand[i]},Description: {sneakers_description[i]},Price: {sneakers_price[i]}")

Brand: Magnolia,Description: Modern Trendy Sneakers boot Sneakers Sneakers For Men,Price: ₹388
Brand: RapidBox,Description: Sneakers For Men,Price: ₹589
Brand: asian,Description: Sneakers For Women,Price: ₹699
Brand: asian,Description: Sneakers For Men,Price: ₹1,175
Brand: BRUTON,Description: Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...,Price: ₹499
Brand: HRX by Hrithik Roshan,Description: Rerooted Classics Sneakers For Men,Price: ₹1,295
Brand: ATOM,Description: Sneakers For Men,Price: ₹1,285
Brand: BAUCHHAAR,Description: Sneakers For Men,Price: ₹499
Brand: aadi,Description: Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...,Price: ₹279
Brand: Sparx,Description: SL-170 Sneakers For Women,Price: ₹849
Brand: Shozie,Description: Stylish Sneakers Shoes for Women And Girls Sneakers For...,Price: ₹499
Brand: Footox,Description: Casual Shoe Sneakers For Women,Price: ₹599
Brand: JACK & JONES,Description: Sneakers For Men,Price: ₹762
Brand: CLARKS,Description: CraftRally Ace Pale Lime Sneakers For Men,Price: ₹4,499
Brand: Rowlans,Description: comfortable,durable,sport shoe,snerakers,walking & gym ...,Price: ₹518
Brand: HRX by Hrithik Roshan,Description: Rerooted Classics Sneakers For Men,Price: ₹1,225
Brand: lejano,Description: CANVAS SNEAKERS FOR MEN Sneakers For Men,Price: ₹447
Brand: lejano,Description: ATTRATIVE SNEAKERS FOR MEN Sneakers For Men,Price: ₹439
Brand: PUMA,Description: Sneakers For Men,Price: ₹4,129
Brand: HIGHLANDER,Description: Stylish Walking Partywear Sneakers Casual Shoes Sneaker...,Price: ₹792
Brand: Shozie,Description: Party Wear Stylish College Casual Sneakers Shoes Sneake...,Price: ₹499
Brand: Shozie,Description: Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...,Price: ₹576
Brand: aadi,Description: Sneakers For Men,Price: ₹279
Brand: lejano,Description: 2 Combo Sneaker Shoes Sneakers For Men,Price: ₹377
Brand: BRUTON,Description: Achiever-15 Grey Sneakers,Loafers,Casuals,Synthetic Sne...,Price: ₹447
Brand: asian,Description: Stylish Walking Partywear Sneakers Casual Shoes Sneaker...,Price: ₹646
Brand: Shozie,Description: kardam&sons luxury fashionable Stylish Light Weight Sne...,Price: ₹598
Brand: Shozie,Description: 2 Combo Sneaker Shoes Sneakers For Men,Price: ₹549
Brand: kardam&sons,Description: Radiant Sneakers For Women,Price: ₹549
Brand: BRUTON,Description: Men's W-05 Casual White Sneaker Shoes With Waterproof S...,Price: ₹447
Brand: Kraasa,Description: Rebound LayUp SL Sneakers For Men,Price: ₹399
Brand: TERFILL,Description: Skypy-31 Shoes Sneakers For Men,Price: ₹599
Brand: asian,Description: Sneakers For Men,Price: ₹764
Brand: Sparx,Description: Sneakers for men(black_8) Sneakers For Men,Price: ₹919
Brand: PUMA,Description: Fashionable Canvas Casual Partywear Outdoor Sneakers wh...,Price: ₹2,999
Brand: asian,Description: Modern Trendy Sneakers boot Sneakers Sneakers For Men,Price: ₹599
Brand: MEGPAR,Description: Sneakers For Men,Price: ₹444
Brand: RapidBox,Description: Sneakers For Women,Price: ₹699
Brand: believe,Description: Sneakers For Men,Price: ₹539
Brand: kardam&sons,Description: Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...,Price: ₹474
Brand: Magnolia,Description: Rerooted Classics Sneakers For Men,Price: ₹388
Brand: RapidBox,Description: Sneakers For Men,Price: ₹589
Brand: asian,Description: Sneakers For Men,Price: ₹699
Brand: asian,Description: Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...,Price: ₹1,175
Brand: BRUTON,Description: SL-170 Sneakers For Women,Price: ₹499
Brand: HRX by Hrithik Roshan,Description: Stylish Sneakers Shoes for Women And Girls Sneakers For...,Price: ₹1,295
Brand: ATOM,Description: Casual Shoe Sneakers For Women,Price: ₹1,285
Brand: BAUCHHAAR,Description: Sneakers For Men,Price: ₹499
Brand: aadi,Description: CraftRally Ace Pale Lime Sneakers For Men,Price: ₹279
Brand: Sparx,Description: comfortable,durable,sport shoe,snerakers,walking & gym ...,Price: ₹849
Brand: Shozie,Description: Rerooted Classics Sneakers For Men,Price: ₹499
Brand: Footox,Description: CANVAS SNEAKERS FOR MEN Sneakers For Men,Price: ₹599
Brand: JACK & JONES,Description: ATTRATIVE SNEAKERS FOR MEN Sneakers For Men,Price: ₹762
Brand: CLARKS,Description: Sneakers For Men,Price: ₹4,499
Brand: Rowlans,Description: Stylish Walking Partywear Sneakers Casual Shoes Sneaker...,Price: ₹518
Brand: HRX by Hrithik Roshan,Description: Party Wear Stylish College Casual Sneakers Shoes Sneake...,Price: ₹1,225
Brand: lejano,Description: Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...,Price: ₹447
Brand: lejano,Description: Sneakers For Men,Price: ₹439
Brand: PUMA,Description: 2 Combo Sneaker Shoes Sneakers For Men,Price: ₹4,129
Brand: HIGHLANDER,Description: Achiever-15 Grey Sneakers,Loafers,Casuals,Synthetic Sne...,Price: ₹792
Brand: Shozie,Description: Stylish Walking Partywear Sneakers Casual Shoes Sneaker...,Price: ₹499
Brand: Shozie,Description: kardam&sons luxury fashionable Stylish Light Weight Sne...,Price: ₹576
Brand: aadi,Description: 2 Combo Sneaker Shoes Sneakers For Men,Price: ₹279
Brand: lejano,Description: Radiant Sneakers For Women,Price: ₹377
Brand: BRUTON,Description: Men's W-05 Casual White Sneaker Shoes With Waterproof S...,Price: ₹447
Brand: asian,Description: Rebound LayUp SL Sneakers For Men,Price: ₹646
Brand: Shozie,Description: Skypy-31 Shoes Sneakers For Men,Price: ₹598
Brand: Shozie,Description: Sneakers For Men,Price: ₹549
Brand: kardam&sons,Description: Sneakers for men(black_8) Sneakers For Men,Price: ₹549
Brand: BRUTON,Description: Fashionable Canvas Casual Partywear Outdoor Sneakers wh...,Price: ₹447
Brand: Kraasa,Description: Modern Trendy Sneakers boot Sneakers Sneakers For Men,Price: ₹399
Brand: TERFILL,Description: Sneakers For Men,Price: ₹599
Brand: asian,Description: Sneakers For Women,Price: ₹764
Brand: Sparx,Description: Sneakers For Men,Price: ₹919
Brand: PUMA,Description: Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...,Price: ₹2,999
Brand: asian,Description: Rerooted Classics Sneakers For Men,Price: ₹599
Brand: MEGPAR,Description: Sneakers For Men,Price: ₹444
Brand: RapidBox,Description: Sneakers For Men,Price: ₹699
Brand: believe,Description: Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...,Price: ₹539
Brand: kardam&sons,Description: SL-170 Sneakers For Women,Price: ₹474
Brand: Magnolia,Description: Stylish Sneakers Shoes for Women And Girls Sneakers For...,Price: ₹388
Brand: RapidBox,Description: Casual Shoe Sneakers For Women,Price: ₹589
Brand: asian,Description: Sneakers For Men,Price: ₹699
Brand: asian,Description: CraftRally Ace Pale Lime Sneakers For Men,Price: ₹1,175
Brand: BRUTON,Description: comfortable,durable,sport shoe,snerakers,walking & gym ...,Price: ₹499
Brand: HRX by Hrithik Roshan,Description: Rerooted Classics Sneakers For Men,Price: ₹1,295
Brand: ATOM,Description: CANVAS SNEAKERS FOR MEN Sneakers For Men,Price: ₹1,285
Brand: BAUCHHAAR,Description: ATTRATIVE SNEAKERS FOR MEN Sneakers For Men,Price: ₹499
Brand: aadi,Description: Sneakers For Men,Price: ₹279
Brand: Sparx,Description: Stylish Walking Partywear Sneakers Casual Shoes Sneaker...,Price: ₹849
Brand: Shozie,Description: Party Wear Stylish College Casual Sneakers Shoes Sneake...,Price: ₹499
Brand: Footox,Description: Mesh| Lightweight| Premiun| Comfort| Summer Tendy| Outd...,Price: ₹599
Brand: JACK & JONES,Description: Sneakers For Men,Price: ₹762
Brand: CLARKS,Description: 2 Combo Sneaker Shoes Sneakers For Men,Price: ₹4,499
Brand: Rowlans,Description: Achiever-15 Grey Sneakers,Loafers,Casuals,Synthetic Sne...,Price: ₹518
Brand: HRX by Hrithik Roshan,Description: Stylish Walking Partywear Sneakers Casual Shoes Sneaker...,Price: ₹1,225
Brand: lejano,Description: kardam&sons luxury fashionable Stylish Light Weight Sne...,Price: ₹447
Brand: lejano,Description: 2 Combo Sneaker Shoes Sneakers For Men,Price: ₹439
Brand: PUMA,Description: Radiant Sneakers For Women,Price: ₹4,129
Brand: HIGHLANDER,Description: Men's W-05 Casual White Sneaker Shoes With Waterproof S...,Price: ₹792

In [37]:
#Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
#1. Title  2. Ratings 3. Price
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [38]:
driver = webdriver.Chrome()

In [39]:
driver.get("https://www.amazon.in/")

In [40]:
search_box = driver.find_element(By.XPATH, "//input[@id='twotabsearchtextbox']")
search_box.send_keys("Laptop")

In [41]:
search_button = driver.find_element(By.XPATH, "//input[@value='Go']")
search_button.click()

In [44]:
# Set CPU Type filter to "Intel Core i7"
cpu_filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/div[6]/span")
cpu_filter.click()

In [45]:
intel_core_i7_option = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/span[9]/li/span/a/div/label/i")
intel_core_i7_option.click()

In [47]:
# Scrape data for the first 10 laptops
laptops_title = []
laptops_rating=[]
laptops_price=[]

In [49]:
#scraping laptops title
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    laptops_title.append(title)

In [50]:
#scraping laptop ratings
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-normal-weight-text"]')
for i in rating_tags[0:10]:
    rating=i.text
    laptops_rating.append(rating)

In [56]:
#scraping laptops price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price=i.text
    laptops_price.append(price)

In [62]:
# Print the scraped sneakers data
for i in range(10):
    print(f"Title: {laptops_title[i]},  \nRatings:   {laptops_rating[i]}, \nPrice:   {laptops_price[i]}")

Title: Dell Inspiron 5430 Laptop, Intel Core i7-1360P Processor/ 16GB/ 1TB SSD/14.0" (35.56cm) FHD+ WVA AG with Comfortview 250 nits/Backlit KB + FPR/Win 11 + MSO'21/15 Month McAfee/Platinum Silver/ 1.59kg,
Ratings:   3.3,
Price:   86,490
Title: ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS,
Ratings:   4.0,
Price:   64,990
Title: ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/512GB SSD/Windows 11/90WHrs Battery/Black/2.30 Kg), FX506HE-HN382W,
Ratings:   4.1,
Price:   74,990
Title: Acer Nitro 5 12th Gen Intel Core i7-12650H Gaming Laptop (Windows 11 Home/16 GB/1TB SSD/NVIDIA GeForce RTX 3070Ti Graphics/165Hz) AN515-58 with 15.6 inch QHD IPS Display, Killer WiFi 6, RGB Keyboard,
Ratings:   4.1,
Price:   99,990
Title: MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN,
Ratings:   4.3,
Price:   65,990
Title: ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, 4GB NVIDIA GeForce RTX 3050, Gaming Laptop (16GB/1TB SSD/Windows 11/90WHrs Battery/Gray/2.20 Kg), FX577ZC-HN192W,
Ratings:   4.0,
Price:   88,990
Title: ASUS Creator Series Vivobook 14X OLED (2023), Intel Core i7-12650H 12th Gen, 14" (35.56 cm) 2.8K 90Hz OLED, Laptop (16GB/1TB/4GB RTX 2050/Win11/Office 2021/FP/Silver/1.4 kg), K3405ZFB-KM752WS,
Ratings:   5.0,
Price:   89,990
Title: HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, NVIDIA RTX 3050 GPU, 15.6-inch (39.6 cm), FHD, IPS, 144Hz, 9 ms Response time, 16GB DDR4, 512GB SSD, Backlit KB (MSO, Blue, 2.29 kg), fa0188TX,
Ratings:   5.0,
Price:   84,990
Title: MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce GTX 1650, GDDR6 4GB/Black/1.8Kg), 11SC-1462IN,
Ratings:   4.2,
Price:   58,990
Title: MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN,
Ratings:   4.4,
Price:   54,990

In [1]:
#Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
#The above task will be done in following steps:1. First get the webpagehttps://www.azquotes.com/2. Click on Top Quotes 
#3. Than scrap a) Quote b) Author c) Type Of Quotes
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.azquotes.com/")

In [4]:
search_quotes= driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[2]/div[1]/div/form/input[1]")
search_quotes.send_keys('Top Quotes')

In [5]:
search_button=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[2]/div[1]/div/form/input[3]")
search_button.click()

In [6]:
#scraping quotes
top_quotes=[]
quote_author=[]
quotes_type=[]

In [20]:
#scraping QUOTES
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    quote=i.text
    top_quotes.append(quote)

In [21]:
#scraping QUOTES AUTHOR
author_tags=driver.find_elements(By.XPATH,'//li[@class="first fl"]')
for i in author_tags:
    author=i.text
    quote_author.append(author)

In [22]:
#scraping QUOTES TYPE
qtype_tags=driver.find_elements(By.XPATH,'//section[@class="authors-page"]')
for i in qtype_tags:
    qtype=i.text
    quotes_type.append(qtype)

In [23]:
# Print the scraped sneakers data
for i in range(1000):
    print(f"Quote: {top_quotes[i]}, \nAuthor: {quote_author[i]}, \nType: {quotes_type[i]}")

Quote: TOP 25 INSPIRATIONAL QUOTES (of 1000) | A-Z Quotes,
Author: A-Z Quotes › quotes › topics › inspirational,
Type: A-Z Quotes › quotes › topics › inspirational
Quote: ,
Author: A-Z Quotes › author › 2136-Warren_Buffett,
Type: A-Z Quotes › author › 2136-Warren_Buffett
Quote: TOP 25 QUOTES BY WARREN BUFFETT (of 959) | A-Z Quotes,
Author: A-Z Quotes › author › 4399-Albert_Einstein,
Type: A-Z Quotes › author › 4399-Albert_Einstein
Quote: ,
Author: A-Z Quotes › author › 5308-Mahatma_Gandhi,
Type: A-Z Quotes › author › 5308-Mahatma_Gandhi
Quote: TOP 25 QUOTES BY ALBERT EINSTEIN (of 1952) | A-Z Quotes,
Author: A-Z Quotes › author › 14530-Mother_Teresa,
Type: A-Z Quotes › author › 14530-Mother_Teresa
Quote: ,
Author: A-Z Quotes › author › 10784-Isaac_Newton,
Type: A-Z Quotes › author › 10784-Isaac_Newton
Quote: TOP 25 QUOTES BY MAHATMA GANDHI (of 3171) | A-Z Quotes,
Author: A-Z Quotes › author › 9365-Nelson_Mandela,
Type: A-Z Quotes › author › 9365-Nelson_Mandela
Quote: ,
Author: A-Z Quotes › author › 524-Aristotle,
Type: A-Z Quotes › author › 524-Aristotle
Quote: TOP 25 QUOTES BY MOTHER TERESA (of 878) | A-Z Quotes,
Author: A-Z Quotes › author › 37865-Socrates,
Type: A-Z Quotes › author › 37865-Socrates
Quote: ,
Author: A-Z Quotes › author › 1621-Napoleon_Bonaparte,
Type: A-Z Quotes › author › 1621-Napoleon_Bonaparte
Quote: TOP 25 QUOTES BY ISAAC NEWTON (of 194) | A-Z Quotes,
Author: ,
Type:
Quote: ,
Author: Albert Einstein,
Type: Strong, Revenge, Intelligent
Quote: TOP 25 QUOTES BY NELSON MANDELA (of 666) | A-Z Quotes,
Author: Albert Einstein,
Type: Play, Light, Soul
Quote: ,
Author: Albert Einstein,
Type: Love, Funny, Life
Quote: TOP 25 ARISTOTLE QUOTES ON PHILOSOPHY & VIRTUE | A-Z ...,
Author: Albert Einstein,
Type: Today, Problem, Solve
Quote: ,
Author: Albert Einstein,
Type: Inspirational, Life, Motivational
Quote: TOP 25 QUOTES BY SOCRATES (of 426) | A-Z Quotes,
Author: Albert Einstein,
Type: Evil, Mean People, World
Quote: ,
Author: Albert Einstein,
Type: Love, Life, Family
Quote: TOP 25 QUOTES BY NAPOLEON BONAPARTE (of 864) | A-Z Quotes,
Author: Albert Einstein,
Type: Knowledge Experience, Information, Gains
Quote: ,
Author: Albert Einstein,
Type: Age, Sock, Ifs
Quote: ,
Author: Albert Einstein,
Type: Answers, Persons
Quote: ,
Author: Albert Einstein,
Type: Motivational, Success, Encouraging
Quote: ,
Author: Albert Einstein,
Type: Inspirational, Life, Motivational
Quote: If you don't find a way to make money while you sleep, you will work until you die.,
Author: Albert Einstein,
Type: Education, Art, Book
Quote: The best investment you can make, is an investment in yourself... The more you learn, the more you'll earn.,
Author: Albert Einstein,
Type: Two, Doe, Two Things
Quote: Do not save what is left after spending, but spend what is left after saving.,
Author: Albert Einstein,
Type: Stupidity, Natural, Artificial
Quote: We don't have to be smarter than the rest. We have to be more disciplined than the rest.,
Author: Albert Einstein,
Type: Powerful, Moving, Persistence
Quote: Look for 3 things in a person. Intelligence, Energy, & Integrity.
If they don't have the last one, don't even bother with the first two.,
Author: Albert Einstein,
Type: Our Lives
Quote: Money to some extent sometimes let you be in more interesting environments. But it can't change how many people love you or how healthy you are.,
Author: Albert Einstein,
Type: Inspirational, Spiritual, Light
Quote: You don't need to have extraordinary effort to achieve extraordinary results. You just need to do the ordinary, everyday things exceptionally well.,
Author: Albert Einstein,
Type: Needs, Knows
Quote: I've often felt there might be more to be gained by studying business failures than business successes.,
Author: Albert Einstein,
Type: Believe, Atheism, Study
Quote: Investment ideas, like women are often more exciting than punctual.,
Author: Albert Einstein,
Type: Imagine
Quote: Too often, a vast collection of possessions ends up possessing its owner.,
Author: Albert Einstein,
Type: Thinking, Silence, Swim
Quote: You have to turn over a lot of rocks to find those little anomalies. You have to find the companies that are off the map - way off the map.,
Author: Albert Einstein,
Type: Atheist, Believe, Mean
Quote: With a wonderful business, you can figure out what will happen; you can't figure out when it will happen. You don't want to focus on when, you want to focus on what. If you're right about what, you don't have to worry about when,
Author: Albert Einstein,
Type: Hard Work, Thinking, Hard
Quote: What you really want to do in investments is figure out what's important and knowable. If it's unimportant or unknowable you forget about it.,
Author: Albert Einstein,
Type: Ego, Greater, Related

IndexError: list index out of range

In [33]:
#Q9: Write a python program to display list of respected former Prime Ministers of India
#(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
#This task will be done in following steps:
#1. First get the webpagehttps://www.jagranjosh.com/
#2. Then You have to click on the GK option
#3. Then click on the List of all Prime Ministers of India
#4. Then scrap the mentioned data and make theDataFrame
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [34]:
driver = webdriver.Chrome()

In [35]:
driver.get("https://www.jagranjosh.com/")

In [36]:
gk_link = driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
gk_link.click()

In [38]:
pm_link = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_link.click()

In [39]:
#Step 3: Click on the List of all Prime Ministers of India
pm_list = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]')
pm_list.click()

In [42]:
#scrap data
data = []
rows = driver.find_elements(By.XPATH,'//div[@class="table-box"]')
for row in rows[1:]:  # Skipping the header row
    cols = row.find_elements(By.XPATH,'//div[@class="table-box"]')
    name = cols[1].text
    born_dead = cols[1].text
    term_of_office = cols[1].text
    remarks = cols[1].text
    data.append([name, born_dead, term_of_office, remarks])

In [43]:
# Create a DataFrame
df = pd.DataFrame(data, columns=['Name', 'Born-Dead', 'Term of Office', 'Remarks'])

# Print the DataFrame
print(df)

                                                Name  \
0  List of all Presidents of India List of Nickna...

                                           Born-Dead  \
0  List of all Presidents of India List of Nickna...

                                      Term of Office  \
0  List of all Presidents of India List of Nickna...

                                             Remarks
0  List of all Presidents of India List of Nickna...

In [57]:
!pip install bs4
!pip install requests
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Step 1: Get the webpage
url = "https://www.jagranjosh.com/"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

# Step 2: Click on the GK option (assuming it's a link)
gk_link = soup.find("a", text="GK")
gk_url = gk_link["href"]

# Step 3: Click on the List of all Prime Ministers of India
gk_response = requests.get(gk_url)
gk_soup = BeautifulSoup(gk_response.content, "html.parser")

prime_ministers_page = None

# Assuming there's a link with the text "List of all Prime Ministers of India"
prime_ministers_link = gk_soup.find("a", text="List of all Prime Ministers of India")
if prime_ministers_link:
    prime_ministers_page = prime_ministers_link["href"]

if prime_ministers_page:
    # Step 4: Scrap the data from the Prime Ministers page
    prime_ministers_url = prime_ministers_page
    prime_ministers_response = requests.get(prime_ministers_url)
    prime_ministers_soup = BeautifulSoup(prime_ministers_response.content, "html.parser")

    # Extract the required information and create a DataFrame
    pm_table = prime_ministers_soup.find("table")
    if pm_table:
        rows = pm_table.find_all("tr")
        data = []

        for row in rows[1:]:  # Skip the header row
            columns = row.find_all("td")
            if len(columns) >= 4:
                name = columns[0].text.strip()
                born_dead = columns[1].text.strip()
                term_of_office = columns[2].text.strip()
                remarks = columns[3].text.strip()
                data.append([name, born_dead, term_of_office, remarks])

        df = pd.DataFrame(data, columns=["Name", "Born-Dead", "Term of Office", "Remarks"])
        print(df)
    else:
        print("No Prime Ministers data found on the page.")
else:
    print("Link to List of Prime Ministers not found on the GK page.")

Requirement already satisfied: bs4 in c:\users\achintya\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\achintya\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\achintya\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\achintya\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\achintya\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\achintya\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\achintya\anaconda3\lib\site-packages (from requests) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\achintya\anaconda3\lib\site-packages (from requests) (2022.9.14)
   Name                    Born-Dead Term of Office  \
0    1.            Jawahar Lal Nehru    (1889–1964)
1    2.    Gulzarilal Nanda (Acting)    (1898-1998)
2    3.          Lal Bahadur Shastri    (1904–1966)
3    4.  Gulzari Lal Nanda  (Acting)    (1898-1998)
4    5.                Indira Gandhi    (1917–1984)
5    6.                Morarji Desai    (1896–1995)
6    7.                 Charan Singh    (1902–1987)
7    8.                Indira Gandhi    (1917–1984)
8    9.                 Rajiv Gandhi    (1944–1991)
9   10.                  V. P. Singh    (1931–2008)
10  11.              Chandra Shekhar    (1927–2007)
11  12.          P. V. Narasimha Rao    (1921–2004)
12  13.         Atal Bihari Vajpayee   (1924- 2018)
13  14.             H. D. Deve Gowda    (born 1933)
14  15.           Inder Kumar Gujral    (1919–2012)
15  16.         Atal Bihari Vajpayee    (1924-2018)
16  17.               Manmohan Singh    (born 1932)
17  18.                Narendra Modi    (born 1950)
18  19.                Narendra Modi    (born 1950)

                                              Remarks
0    15 August 1947 to 27 May 1964 16 years, 286 days
1                 27 May 1964 to 9 June 1964, 13 days
2     9 June 1964 to 11 January 1966 1 year, 216 days
3          11 January 1966 to 24 January 1966 13 days
4   24 January 1966 to 24 March 1977 11 years, 59 ...
5   24 March 1977 to  28 July 1979   2 year, 126 days
6            28 July 1979 to 14 January 1980 170 days
7   14 January 1980 to 31 October 1984 4 years, 29...
8   31 October 1984 to 2 December 1989 5 years, 32...
9        2 December 1989 to 10 November 1990 343 days
10          10 November 1990 to 21 June 1991 223 days
11      21 June 1991 to 16 May 1996 4 years, 330 days
12                 16 May 1996 to 1 June 1996 16 days
13              1 June 1996 to 21 April 1997 324 days
14          21 April 1997 to 19 March 1998   332 days
15     19 March 1998 to 22 May 2004  6 years, 64 days
16     22 May 2004 to 26 May 2014    10 years, 4 days
17                                 26 May 2014 - 2019
18                             30 May 2019- Incumbent

In [8]:
#Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
#This task will be done in following steps:
#1. First get the webpage https://www.motor1.com/
#2. Then You have to type in the search bar ’50 most expensive cars’
#3. Then click on 50 most expensive cars in the world..
#4. Then scrap the mentioned data and make the dataframe.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [9]:
driver = webdriver.Chrome()

In [10]:
driver.get("https://www.motor1.com/")

In [11]:
# Step 2: Type in the search bar
search_bar = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search_bar.send_keys("50 most expensive cars")

In [14]:
# Step 3: Click on 50 most expensive cars in the world
search_button = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div')
search_button.click()

In [76]:
# Step 4: Scrape the data
car_names = driver.find_elements(By.XPATH,'//span[@class="arrow-holder"]')
prices = driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/p[6]/strong')

# Create a list to store the data
data = []

# Extract car names and prices
for name, price in zip(car_names, prices):
    data.append({'Car Name': name.text, 'Price': price.text})

# Create a DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Close the webdriver
driver.quit()

              Car Name                Price
0  Aston Martin Valour  Price: $1.7 Million

In [7]:
# Step 4: Scrape the data
car_names = driver.find_elements(By.XPATH,'//span[@class="arrow-holder"]')
prices = driver.find_elements(By.XPATH,'/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/ul')

# Create a list to store the data
data = []

# Extract car names and prices
for name, price in zip(car_names, prices):
    data.append({'Car Name': name.text, 'Price': price.text})

# Create a DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Close the webdriver
driver.quit()

Empty DataFrame
Columns: []
Index: []